tornado>=4.0
#python3-memcached==1.51
#git+https://github.com/johnw3d/python-threadclient.git#egg=python-threadclient
/Users/john/Projects/python-threadclient
pymongo==2.7.2
xmltodict==0.9.0
beautifulsoup4==4.3.2