@import "../../bower_components/bootstrap/less/bootstrap";
@import "../../bower_components/font-awesome/less/font-awesome";

@fa-font-path: "./";

body {
    margin-top: 50px;
}

.container {
    max-width: 900px;
}

.app-logo {
    color: @gray-light;
    margin-bottom: 20px;
}

.main-menu {
    margin-bottom: 40px;
}

h1 {
    font-size: 29px;
    margin-top: 3px;
    margin-bottom: 28px;
}