<div id="add-feed">
    <p>Add a thread feed</p>
    <form id="add-feed-form" role="form">
        <div class="input-group">
          <span class="input-group-addon">http://</span>
          <input name="url" type="url" class="form-control" placeholder="feed URL">
        </div>
        <div class="input-group">
          <span class="input-group-addon">tags</span>
          <input name="tags" type="text" class="form-control" placeholder="tags">
        </div>
        <div class="align-right">
            <button id="add-feed-submit" class="btn btn-default btn-sm" type="submit" value="Add feed">Add feed</button>
        </div>
   </form>
</div>