{% extends "base.html" %}

{% block left_col %}
    <div data-spy="affix">
        <i class="fa fa-slack fa-3x app-logo"></i>
        <h4>Thread feeds</h4>
        <div id="directory-tree">
            {% include "directory_tree.html" %}
        </div>
    </div>
{% end %}

{% block main_col %}
    <div id="main-col">
        <i style="color:#bbb">... add or select a feed ...</i>
    </div>
{% end %}

{% block page_scripts %}
    <script src="/static/dist/threadreader.js"></script>
    <script src="/static/dist/jquery.timeout.js"></script>
{% end %}


