{% extends "base.html" %}

{% block main_col %}
    <h1>All threads</h1>
    <p>This is index foo.</p>
    <p><a href="/login">Login</a> | <a href="/protected">Protected Page</a> | <a href="/logout">Logout</a></p>
    <p>The value of foo is: {{ foo }}</p>
    {% if current_user %}
        <p>The current user is: <a href="http://twitter.com/{{ current_user['username'] }}">@{{ current_user['username'] }}</a></p>
    {% else %}
        <p>No logged in user.</p>
    {% end %}
    {% raw directory_tree(dir) %}
{% end %}

{% block page_scripts %}
<script type='text/javascript'>//<![CDATA[
$(window).load(function() {
    $(function () {
        $('.tree li:has(ul)').addClass('parent_li').find('i.tree-folder').attr('title', 'Collapse this branch');

        $('.tree li.parent_li i.tree-folder').on('click', function (e) {
            var children = $(this).closest('li.parent_li').find(' > ul > li');
            if (children.is(":visible")) {
                children.hide('fast');
                $(this).attr('title', 'Expand').addClass('fa-plus-square-o').removeClass('fa-minus-square-o');
            } else {
                children.show('fast');
                $(this).attr('title', 'Collapse').addClass('fa-minus-square-o').removeClass('fa-plus-square-o');
            }
            e.stopPropagation();
        });

    });
});//]]>
</script>

{% end %}


