<div id="thread-list" thread="{{thread_tag}}">
    <div class="thread-header">
        <span class="thread-title">{{thread_tag}}</span>
        {% if thread_tag.startswith('feed:') %}
            <span class="thread-tools">
                <i class="fa fa-cog thread-edit" title="Edit settings"></i>
                <i class="fa fa-refresh thread-refresh" title="Refresh thread"></i>
            </span>
       {% end %}
    </div>
    {% for item in thread %}
        <div>
            <p>
                <i class="fa fa-square hover-pad"></i>
                <!--<span class="item-date">{{utils.format_date(item['published'])}}</span>-->
                <a href="#" class="item-link" id="{{item['_id']}}">{{item['title']}}</a>
                <span class="home-feed">({{utils.home_feed(item)}})</span>
                <span class="elapsed-pubdate">{{ utils.elapsedSinceDateTime(item['published']) }}</span></p>
            <div class="item-header" style="display: none">
                <div class="item-input">
                    folds:
                    <select class="form-control" name="folds">
                        <option>Home</option>
                        <option>News</option>
                        <option>Astronomy</option>
                        <option>Porsche</option>
                    </select>
                    threads:
                    <span id="thread-sel-{{item['_id']}}">
                        {% include "thread_select.html" %}
                    </span>
                    <input name="tags" type="text" placeholder="new tags"> <a href="" item="{{item['_id']}}" class="add-item-tags">add tags</a>
                </div>
            </div>
            <div class="item-body" style="display:none">{% raw utils.item_html(item) %}</div>
        </div>
    {% end %}
</div>